<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.basicPLY.animals.mapper.StrayAnimalsAdoptionMapper">

    <resultMap id="BaseResultMap" type="cn.basicPLY.animals.entity.StrayAnimalsAdoption">
        <id property="keyId" column="key_id" jdbcType="VARCHAR"/>
        <result property="animalType" column="animal_type" jdbcType="VARCHAR"/>
        <result property="animalAge" column="animal_age" jdbcType="VARCHAR"/>
        <result property="animalBreed" column="animal_breed" jdbcType="VARCHAR"/>
        <result property="animalSex" column="animal_sex" jdbcType="VARCHAR"/>
        <result property="adoptionContent" column="adoption_content" jdbcType="VARCHAR"/>
        <result property="adoptionState" column="adoption_state" jdbcType="TINYINT"/>
        <result property="adoptionAddress" column="adoption_address" jdbcType="VARCHAR"/>
        <result property="adoptionPhoneNumber" column="adoption_phone_number" jdbcType="VARCHAR"/>
        <result property="foreignKeyPublisher" column="foreign_key_publisher" jdbcType="VARCHAR"/>
        <result property="deleteMark" column="delete_mark" jdbcType="TINYINT"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="StrayAnimalsAdoptionVO" type="cn.basicPLY.animals.entity.VO.StrayAnimalsAdoptionVO">
        <id property="keyId" column="key_id" jdbcType="VARCHAR"/>
        <result property="animalType" column="animal_type" jdbcType="VARCHAR"/>
        <result property="animalAge" column="animal_age" jdbcType="VARCHAR"/>
        <result property="animalBreed" column="animal_breed" jdbcType="VARCHAR"/>
        <result property="animalSex" column="animal_sex" jdbcType="VARCHAR"/>
        <result property="adoptionContent" column="adoption_content" jdbcType="VARCHAR"/>
        <result property="adoptionState" column="adoption_state" jdbcType="TINYINT"/>
        <result property="adoptionAddress" column="adoption_address" jdbcType="VARCHAR"/>
        <result property="adoptionPhoneNumber" column="adoption_phone_number" jdbcType="VARCHAR"/>
        <result property="foreignKeyPublisher" column="foreign_key_publisher" jdbcType="VARCHAR"/>
        <result property="deleteMark" column="delete_mark" jdbcType="TINYINT"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
        <collection property="strayAnimalsFiles" ofType="cn.basicPLY.animals.entity.StrayAnimalsFile">
            <id property="keyId" column="file_key_id" jdbcType="VARCHAR"/>
            <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
            <result property="filePath" column="file_path" jdbcType="VARCHAR"/>
            <result property="fileCategory" column="file_category" jdbcType="VARCHAR"/>
            <result property="deleteMark" column="file_delete_mark" jdbcType="TINYINT"/>
            <result property="createBy" column="file_create_by" jdbcType="VARCHAR"/>
            <result property="createDate" column="file_create_date" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="file_update_by" jdbcType="VARCHAR"/>
            <result property="updateDate" column="file_update_date" jdbcType="TIMESTAMP"/>
        </collection>
    </resultMap>


    <sql id="Base_Column_List">
        key_id,animal_type,animal_age,
        animal_breed,animal_sex,adoption_content,
        adoption_state,adoption_address,adoption_phone_number,
        foreign_key_publisher,delete_mark,create_by,
        create_date,update_by,update_date
    </sql>


    <select id="selectStrayAnimalsAdoptionPageVO" resultMap="StrayAnimalsAdoptionVO">
        SELECT SAA.key_id,
        SAA.animal_type,
        SAA.animal_age,
        SAA.animal_breed,
        SAA.animal_sex,
        SAA.adoption_content,
        SAA.adoption_address,
        SAA.adoption_phone_number,
        SAA.adoption_state,
        SAA.create_by,
        SAA.create_date,
        SAA.update_by,
        SAA.update_date,

        SAF.key_id AS file_key_id,
        SAF.file_name,
        SAF.file_category,
        SAF.file_path,
        SAF.create_by AS file_create_by,
        SAF.create_date AS file_create_date,
        SAF.update_by AS file_update_by,
        SAF.update_date AS file_update_date
        FROM stray_animals_adoption SAA
        LEFT JOIN stray_animals_adoption_file SAAF ON SAA.key_id = SAAF.adoption_id AND SAAF.delete_mark = 1
        LEFT JOIN stray_animals_file SAF ON SAAF.file_id = SAF.key_id AND SAF.delete_mark = 1
        <where>
            SAA.delete_mark = 1
            <if test="userId != null and userId != ''">
                AND SAA.foreign_key_publisher = #{userId}
            </if>
            <if test="userId != null and userId != ''">
                AND SAA.adoption_title like CONCAT('%',#{adoptionTitle},'%')
            </if>
        </where>
    </select>

    <select id="selectStrayAnimalsAdoptionInfoByKeyId" resultMap="StrayAnimalsAdoptionVO">
        SELECT SAA.key_id,
               SAA.animal_type,
               SAA.animal_age,
               SAA.animal_breed,
               SAA.animal_sex,
               SAA.adoption_content,
               SAA.adoption_address,
               SAA.adoption_phone_number,
               SAA.adoption_state,
               SAA.create_by,
               SAA.create_date,
               SAA.update_by,
               SAA.update_date,

               SAF.key_id      AS file_key_id,
               SAF.file_name,
               SAF.file_category,
               SAF.file_path,
               SAF.create_by   AS file_create_by,
               SAF.create_date AS file_create_date,
               SAF.update_by   AS file_update_by,
               SAF.update_date AS file_update_date
        FROM stray_animals_adoption SAA
                 LEFT JOIN stray_animals_adoption_file SAAF ON SAA.key_id = SAAF.adoption_id AND SAAF.delete_mark = 1
                 LEFT JOIN stray_animals_file SAF ON SAAF.file_id = SAF.key_id AND SAF.delete_mark = 1
        WHERE SAA.key_id = #{keyId}
    </select>
</mapper>
