<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.basicPLY.animals.mapper.StrayAnimalsUserAuthorityMapper">

    <resultMap id="BaseResultMap" type="cn.basicPLY.animals.entity.StrayAnimalsUserAuthority">
            <id property="keyId" column="key_id" jdbcType="VARCHAR"/>
            <result property="userKeyId" column="user_key_id" jdbcType="VARCHAR"/>
            <result property="authorityId" column="authority_id" jdbcType="VARCHAR"/>
            <result property="authority" column="authority" jdbcType="VARCHAR"/>
            <result property="authorityZh" column="authority_zh" jdbcType="VARCHAR"/>
            <result property="deleteMark" column="delete_mark" jdbcType="TINYINT"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        key_id,user_key_id,authority_id,
        authority,authority_zh,delete_mark,
        create_by,create_date,update_by,
        update_date
    </sql>
</mapper>
